@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(165, 224, 205);
}
#cabecalho{
    
    background-color: white;
   
    padding-left: 10px;
}
nav > a {
    
    background-color: bisque;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    
}
nav > a:hover{
    text-decoration: underline;
    color: blue;
}